<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Guest Book</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> 
    <!-- Bootstrap theme -->
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/various_styles.css') }}" rel="stylesheet">

  </head>

  <body>
    {% extends "layout.html" %}
      {% block content %}


    <div class="home" id="home">
      {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <!-- <strong>Title</strong> --> <strong>{{ message }}</strong>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <!-- <a type="button" class="btn btn-link" name="home" href="{{ url_for('index') }}">Home</a> -->
      {% if current_user.is_authenticated %}
        <span class="w3-padding w3-display-topleft" style="font-weight:bold;color:green">Logged in as
          {{ current_user.username }}</span>&nbsp;<a type="button" class="btn btn-link" name="logout" href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
      <div class="container theme-showcase" role="main" id="container-div">

        <div class="jumbotron">
          <h1>Guest Book</h1>
          <!-- <a type="button" class="btn btn-link" href="{{ url_for('sign') }}">Sign the Guest Book</a> -->
            {% if current_user.is_authenticated %}
                <button type="button" id="show_sign_form" onclick="showModalSign()">Sign the guest book</button>&nbsp
            {% endif %}
            {% if not current_user.is_authenticated %}
            <a type="button" class="btn btn-link" href="{{ url_for('login') }}">Login</a>&nbsp;
            <a type="button" class="btn btn-link" href="{{ url_for('register') }}">Sign up</a>
            {% endif %}
        </div>

        {% for r in result %}
        <!-- <form method="post" action="/delete_red/?id={{ r.id }}"> -->
        <!-- <form method="post" action="/edit_com_process/?com_id={{ r.id }}&com_cont={{ r.comment }}" id="com_form"> -->
        <form method="post" action="edit_com" id="com_form">
            <div class="page-header">
              <h1>{{ r.name }}</h1><!-- <a id="delete_com" name="delete" href=#>Delete comment</a> -->
                {% if current_user.is_authenticated and (r.name == current_user.username or current_user.username == 'admin') %}
                    <button data-id="{{ r.id }}" type="button" class="delete_com">Delete comment</button>
                    <button type="button" class="edit_com" id="{{ r.id }}" onclick="editComment(this.id)">Edit comment</button>
                {% endif %}
            </div>
            <div class="well" name="com_cont">
              <p id="com_cont_{{ r.id }}">{{ r.comment }}</p>
            </div>
        </form>
        {% endfor %}

      </div><!-- /container -->

      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content" id="modalCont">
          <span class="close">&times;</span>

        </div>

      </div>
    </div>







    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script>
        $(document).ready(function(){
          $(".delete_com").click(function(){
            $.ajax({
              type: 'GET',
              url: "/delete_ajax",
              data: {com_id: $(this).data("id")},
              //eftaige to datatype. to default edw einai json epeidh etsi to epistrefei h python
              //dataType: "application/json",
              //se ayto to epipedo tha valw .load() apo to jquery
              success: function(data){
                debugger;
                if(data.status == "success"){
                  //to kanw load sto body giati an to kanw opoudhpote allou tha ksanafortwsei to nav bar mexri na ksanaginei reload
                  $("body").load("/");
                }
              }
            });
          });
        });
      </script>

      <script>
        window.setTimeout(function() {
          $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
           });
        }, 2000);
      </script>

      <script>
        function showModalSign(){
            // Get the modal
            debugger;
            var modal = document.getElementById("myModal");
            var modalCont = document.getElementById("modalCont");
            var comCont = document.getElementById("com_cont");

            // Get the button that opens the modal
            var btn = document.getElementById("show_sign_form");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
             btn.onclick = function() {
                modal.style.display = "block";
                //$("#modalCont").empty();
                $("#modalCont").load("/sign");
             }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        }

      </script>

    <script>
      function editComment(id){
      var cur_com_cont = document.getElementById("com_cont_"+id).innerHTML
        window.location.href = "edit_com/?com_id=" + id // + "&com_cont=" + cur_com_cont
      }
    </script>

    <!-- <script>
        function showModalEdit(){
            // Get the modal
            var modal = document.getElementById("myModal");
            var modalCont = document.getElementById("modalCont");
            var comCont = document.getElementById("com_cont");

            // Get the button that opens the modal
            var btn = document.getElementById("edit_com");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
             btn.onclick = function() {
                modal.style.display = "block";
                $("#modalCont").empty();
                $("#modalCont").load("/edit_com");
             }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        }
    </script> -->
    {% endblock %}
  </body>
</html>
